<!DOCTYPE html>
<html>

<head th:replace="~{base :: head}"></head>
<style th:inline="text">
.bg2 {
	background-image: url([[@{/img/background-cadastro.jpg}]]);
	background-size: cover;
}
</style>
<body class="bg2">
	<header th:replace="~{base :: header}"></header>
	<main>
		<div class="container-fluid">
			<div class="row main justify-content-around">
				<div class="col-6 row card-inicial">
					<div class="row text-align-center justify-content-center">
						<img class=" col-4 card-img" th:src="@{/img/cadastro-img.png}"
							alt="login!">
						<div class=" col-4 card-titulo">CADASTRO</div>
					</div>

					<div class="text-align-center titulo-card">
						<form th:action="@{/auth/cadastrar}" th:object="${requisicaoCadastrar}"
							method="POST">
							<div class="row">
								<div class="col">
									<div class="mb-3">
										<label for="username" class="form-label">Email</label> 
										<input
											th:field="*{username}"
											th:errorClass="is-invalid" type="email" name="username" class="form-control"
											placeholder="Email" />
										<div th:errors="*{username}" class="invalid-feedback" >
											Digite um E-mail válido</div>
									</div>
									<div class="mb-3">
										<label for="password" class="form-label">Senha</label> <input
											type="password" name="password" th:field="*{password}"
											th:errorClass="is-invalid"
											class="form-control" placeholder="Senha">
										<div class="invalid-feedback" th:errors="*{password}">
											Digite uma senha</div>
									</div>
									<div class="mb-1">
										<button type="submit" class="btn btn-primary btn-index">CADASTRAR</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</main>
</body>
<footer th:replace="~{base :: footer}"></footer>