<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style-cliente.css}" />
    <!-- 
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css" />    -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar bg-light justify-content-center">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand nav-cliente-logo" href="#">
                    <img src="/src/main/resources/static/img/logo.png" alt="Logo" width="30" height="30"
                        class="d-inline-block align-text-top">
                    <!-- th:src="@{/img/logo.png}" -->
                    javaLanches
                </a>

            </div>
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Fazer Pedido</a>
            <a class="nav-link" href="#">Histórico</a>
        </nav>

    </header>
    <section class="container">
        <div class="row justify-content-between mt-3">
            <div class="col card">
                <div class="card-title text-center mt-3">
                    <a href="">
                        <h4>SALGADOS</h4>
                    </a>
                </div>
                <div class="card-text">
                    <div class="row">
                        <div class="card-text text-center col-6"> Nome do item</div>
                        <div class="card-text text-center col-4"> Valor</div>
                        <div class="card-text text-center col-2"> Quantidade</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mt-3">
            <div class="col card">
                <div class="card-title text-center mt-3">
                    <a href="">
                        <h4>DOCES</h4>
                    </a>
                </div>
                <div class="card-text">
                    <div class="row">
                        <div class="card-text text-center col-6"> Nome do item</div>
                        <div class="card-text text-center col-4"> Valor</div>
                        <div class="card-text text-center col-2"> Quantidade</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mt-3">
            <div class="col card">
                <div class="card-title text-center mt-3">
                    <a href="">
                        <h4>BEBIDAS</h4>
                    </a>
                </div>
                <div class="card-text">
                    <div class="row">
                        <div class="card-text text-center col-6"> Nome do item</div>
                        <div class="card-text text-center col-4"> Valor</div>
                        <div class="card-text text-center col-2"> Quantidade</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row align-items-end mt-3">
            <div class="col">
                <div class="card">
                    <div class=" card-header card-title text-center">
                        <h4>RESUMO DO PEDIDO</h4>
                    </div>
                    <div class="row">
                        <div class="card-text text-center col-5"> Nome do item</div>
                        <div class="card-text text-center col-4"> Quantidade</div>
                        <div class="card-text text-center col-3"> Valor</div>
                    </div>
                    <div class="card-footer mt-3 text-end"> valor total R$:00,00</div>
                    <input type="submit" class="col-4 btn btn-primary m-3 align-self-center" value="Concluir"></input>
                </div>
            </div>
        </div>

    </section>
</body>