<!DOCTYPE html>
<html>

<head th:replace="~{base :: head}"></head>
<style th:inline="text">
.bg3{
    background-image:url([[@{/img/background-index.jpg}]]);
    background-size: cover; 
}
</style>
<body class="bg3">
    <header>
        <div class="container-fluid barra-nav">
            <div class="row header-main justify-content-between">
                <div class="col col-4 nav-logo"><img class="nav-img" th:src="@{/img/logo.png}"
                        alt="Logo JavaLanches">
                    <div class="nav-titulo">javaLanches</div>
                </div>
                <div class="col col-2 "><a class="nav-entrar" href="/login">ENTRAR</a></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row main justify-content-around">
                <div class="col-4 row card-inicial">
                    <div class="text-align-center justify-content-center">
                        <img class="card-img" th:src="@{img/login-img.png}" alt="login!">  
                    </div>
                    <div class="card-titulo-index">Já é nosso cliente?</div>
                    <div class="text-align-center"><form><button formaction="/login"
                            class="btn btn-primary btn-index" >LOGIN</form></div>
                </div>
                <div class="col-4 row card-inicial">
                    <div class="text-align-center justify-content-center">
                        <img class="card-img" th:src="@{img/cadastro-img.png}" alt="Cadastro!">                        
                    </div>
                    <div class="card-titulo-index">Ainda não é nosso cliente?</div>
                    <div class="text-align-center"><form><button formaction="/auth/cadastro"
                            class="btn btn-primary btn-index" >CADASTRE-SE</button></form></div>
                </div>

            </div>
    </main>
</body>
<footer th:replace="~{base :: footer}"></footer>